table{ width: 1024px; height: auto; display:inline;}
div#mana{ min-width: 250px;float:left;width:200px; border:1px solid grey;min-height: 1em;color:blue;}
div#num_mana{float:right; color:blue;min-width: 60px;min-height: auto   ;}
div#life{min-width: 250px;float:left;width:200px; border:1px solid grey;min-height: 1em;color:green;}
div#num_life{float:right; color:green;min-width: 60px;min-height: auto   ;}
span.founded{float:left;}
span.tg{float:right;}
table#table_found{width: 400px;}
#details{max-width: 250px; width: 250px; word-wrap: break-word;}
p{padding-left: 5px;}
#field_found,#field_inventar,#field_equip{min-height: 150px;}
.get{margin-left:50px;}
.remove{margin-left: 5px;}
.bor{cursor:help ;}
.bor:hover{color:red;}
p{text-indent: 10px; margin-bottom: -10px;}
#r_content, #td_content{width: 500px; text-align: left; vertical-align: text-top;}
#r_content_th{background-color: black;color: aliceblue;font-weight: bold;text-align: center;}
 #td_content{padding-left:150px;}
 table{
    table-layout: fixed;
}
td{ word-wrap: break-word;}
.bgreen{font-weight: bold;color:green;}